.ses{
  float: right;
}
h1{
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  size: 500%;
}
.navbar{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.golf{
  width: 500px;
  height: 320px;
  border-radius: 35%;
  margin-bottom: 40px;
}
.scirocco{
  width: 550px;
  height: 300px;
  float: right;
  border-radius: 35%;

}
.passat{
  width: 550px;
  height: 300px;
  border-radius: 35%;
}
.polo {
  width: 500px;
  height: 300px;
  float: right;
  border-radius: 35%;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
